*,*::before,*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

:root {
    --main-bg-color: #{$backgroundColor};
    --generated-password-bg-color: #{$grayish700};
    --header-color: #{$grayish400};
    --font-color: #{$grayish200};
    --placeholder-color: #{$grayish400};
    --password-strength-bg-color: #{$grayish900};
    --poor-password-bg-color: #{$red};
    --weak-password-bg-color: #{$orange};
    --medium-password-bg-color: #{$yellow};
    --strong-password-bg-color: #{$green};
}

body{
    width: 100%;
    height: 100vh;
    font-family: 'JetBrains Mono', monospace;
    font-size: 1rem;
    color: var(--font-color);
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.weak{
    &:first-child{
        background-color: var(--poor-password-bg-color);  
    }
}

.poor{
    &:nth-child(-n + 2){
        background-color: var(--weak-password-bg-color);   
    }
}


.medium{
    &:not(:last-child){
        background-color: var(--medium-password-bg-color);  
    }
}

.strong {
    background-color: var(--strong-password-bg-color);
}


/* Customize the label (the container) */
.containerss {
    display: block;
    width: 100%;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: var(--generated-password-bg-color);
        border: 1px solid var(--font-color);
    }

    &:hover input ~ .checkmark {
        background-color: var(--generated-password-bg-color);
        border: 1px solid var(--strong-password-bg-color);
    }

    input:checked ~ .checkmark {
        background-color: var(--strong-password-bg-color);
      }


    input:checked ~ .checkmark:after {
        display: block;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

      .checkmark:after {
        left: 5px;
        top: 0px;
        width: 8px;
        height: 16px;
        border: solid var(--generated-password-bg-color);
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
  }
  




