.container{
    width: 400px;

    @include breakpoint-down(medium){
        width: 100%;
    }

    .header{
        font-weight: 400;
        color: var(--header-color);
        font-size: 1.25rem;
        text-align: center;
        margin: 0.5rem 0 1.25rem;
    }

    .password-generator-box{
        background-color: var(--generated-password-bg-color);
        width: 100%;
        height: 7vh;
        display: flex;
        margin-bottom: 1.25rem;
        padding-inline: 1.25rem;

        .passwordText{
            color: var(--placeholder-color);
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            width: 90%;
            height: 100%;

            @include breakpoint-down(small){
                font-size: 1.25rem;
            }
        }

        .clipboard{
            width: 10%;
            font-size: 1.25rem;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            color: var(--strong-password-bg-color);
            height: 100%;

            i {
                &:hover{
                    background-color: var(--password-strength-bg-color);
                }
            }

            .popuptext{
                display: none;
                font-size: 0.87rem;
                width: 80px;
                background-color: var(--generated-password-bg-color);
                color: var(--strong-password-bg-color);
                text-align: center;
                border-radius: 6px;
                padding: 8px 0;
                position: absolute;
                z-index: 1;
                bottom: 125%;
                left: 50%;
                margin-left: -50px;

                &::after {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    margin-left: -5px;
                    border-width: 5px;
                    border-style: solid;
                    border-color: #555 transparent transparent transparent;
                }
            }
        }
    }

    .password-description {
        background-color: var(--generated-password-bg-color);
        padding: 1.25rem;

        .password-length {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0.5rem;
            span {
                display: inline-block;
                color: var(--font-color);
            }

            .password-number{
                font-size: 1.5rem;
                color: var(--strong-password-bg-color);
            }
        }

        .slidecontainer{
            padding: 0.5rem 0;
            width: 100%;
            margin-bottom: 1.25rem;

            .slider{
                width: 100%;
                -webkit-appearance: none;
                appearance: none;
                height: 7px; 
                background: var(--password-strength-bg-color);
                outline: none; 
                opacity: 0.7;
                -webkit-transition: .2s;
                transition: opacity .2s;
                background-image: linear-gradient(var(--strong-password-bg-color), var(--strong-password-bg-color));
                background-size: 0% 100%;
                background-repeat: no-repeat;

                &:hover{
                    opacity: 1;
                }
            }

            .slider::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 21px; 
                height: 21px;
                background: var(--font-color); 
                cursor: pointer;
                border-radius: 50%;

                &:hover{
                    background-color: var(--password-strength-bg-color);
                    border: 1px solid var(--strong-password-bg-color);
                }


              }

              .slider::-moz-range-thumb {
                width: 21px;
                height: 21px;
                background: var(--font-color); 
                cursor: pointer;
                border-radius: 50%;

                &:hover{
                    background-color: var(--password-strength-bg-color);
                    border: 1px solid var(--strong-password-bg-color);
                }
              }


        }

        .checkboxes-btn{
            list-style-type: none;
            margin-bottom: 1.5rem;

            li {
                &:not(:last-child){
                    margin-bottom: 0.6rem;
                }
            }
        }

        .btn {
            width: 100%;
            height: 45px;
            outline: none;
            border: none;
            cursor: pointer;
            font-weight: 600;
            color: var(--password-strength-bg-color);
            background-color: var(--strong-password-bg-color);
            transition: all .4s ease-in-out;

            span{
                margin-left: 1.2rem;
            }

            &:hover{
                color: var(--strong-password-bg-color);
                background-color: var(--password-strength-bg-color);
                border: 2px solid var(--strong-password-bg-color);
            }
        }

        .strength-checker{
            width: 100%;
            height: 7vh;
            padding: 0.8rem 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center; 
            background-color: var(--password-strength-bg-color);
            margin-bottom: 1.25rem;

            .reps{
                width: 80px;
                height: 100%;
                display: flex;
                justify-content: space-between;

                span {
                    width: 15px;
                    height: 100%;
                    border: 1px solid var(--font-color);
                }
            }
        }
    }
}