

$backgroundColor : #08070B;
$grayish200 : hsl(252,11%,91%);
$grayish400 : hsl(251,9%,53%);
$grayish700 : hsl(248,10%,15%);
$grayish900 : hsl(248,15%,11%);
$green : hsl(127,100%,82%);
$red : hsl(0,91%,63%);
$yellow : hsl(42,91%,68%);
$orange : hsl(13,95%,66%);