@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600;700&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main-bg-color: #08070B;
  --generated-password-bg-color: hsl(248, 10%, 15%);
  --header-color: hsl(251, 9%, 53%);
  --font-color: hsl(252, 11%, 91%);
  --placeholder-color: hsl(251, 9%, 53%);
  --password-strength-bg-color: hsl(248, 15%, 11%);
  --poor-password-bg-color: hsl(0, 91%, 63%);
  --weak-password-bg-color: hsl(13, 95%, 66%);
  --medium-password-bg-color: hsl(42, 91%, 68%);
  --strong-password-bg-color: hsl(127, 100%, 82%);
}

body {
  width: 100%;
  height: 100vh;
  font-family: "JetBrains Mono", monospace;
  font-size: 1rem;
  color: var(--font-color);
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.container {
  width: 400px;
}
@media (max-width: 63.9375em) {
  .container {
    width: 100%;
  }
}
.container .header {
  font-weight: 400;
  color: var(--header-color);
  font-size: 1.25rem;
  text-align: center;
  margin: 0.5rem 0 1.25rem;
}
.container .password-generator-box {
  background-color: var(--generated-password-bg-color);
  width: 100%;
  height: 7vh;
  display: flex;
  margin-bottom: 1.25rem;
  padding-inline: 1.25rem;
}
.container .password-generator-box .passwordText {
  color: var(--placeholder-color);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  width: 90%;
  height: 100%;
}
@media (max-width: 39.9375em) {
  .container .password-generator-box .passwordText {
    font-size: 1.25rem;
  }
}
.container .password-generator-box .clipboard {
  width: 10%;
  font-size: 1.25rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--strong-password-bg-color);
  height: 100%;
}
.container .password-generator-box .clipboard i:hover {
  background-color: var(--password-strength-bg-color);
}
.container .password-generator-box .clipboard .popuptext {
  display: none;
  font-size: 0.87rem;
  width: 80px;
  background-color: var(--generated-password-bg-color);
  color: var(--strong-password-bg-color);
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -50px;
}
.container .password-generator-box .clipboard .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.container .password-description {
  background-color: var(--generated-password-bg-color);
  padding: 1.25rem;
}
.container .password-description .password-length {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}
.container .password-description .password-length span {
  display: inline-block;
  color: var(--font-color);
}
.container .password-description .password-length .password-number {
  font-size: 1.5rem;
  color: var(--strong-password-bg-color);
}
.container .password-description .slidecontainer {
  padding: 0.5rem 0;
  width: 100%;
  margin-bottom: 1.25rem;
}
.container .password-description .slidecontainer .slider {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  height: 7px;
  background: var(--password-strength-bg-color);
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  background-image: linear-gradient(var(--strong-password-bg-color), var(--strong-password-bg-color));
  background-size: 0% 100%;
  background-repeat: no-repeat;
}
.container .password-description .slidecontainer .slider:hover {
  opacity: 1;
}
.container .password-description .slidecontainer .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 21px;
  height: 21px;
  background: var(--font-color);
  cursor: pointer;
  border-radius: 50%;
}
.container .password-description .slidecontainer .slider::-webkit-slider-thumb:hover {
  background-color: var(--password-strength-bg-color);
  border: 1px solid var(--strong-password-bg-color);
}
.container .password-description .slidecontainer .slider::-moz-range-thumb {
  width: 21px;
  height: 21px;
  background: var(--font-color);
  cursor: pointer;
  border-radius: 50%;
}
.container .password-description .slidecontainer .slider::-moz-range-thumb:hover {
  background-color: var(--password-strength-bg-color);
  border: 1px solid var(--strong-password-bg-color);
}
.container .password-description .checkboxes-btn {
  margin-bottom: 1.5rem;
}
.container .password-description .btn {
  width: 100%;
  height: 45px;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 600;
  color: var(--password-strength-bg-color);
  background-color: var(--strong-password-bg-color);
  transition: all 0.4s ease-in-out;
}
.container .password-description .btn span {
  margin-left: 1.2rem;
}
.container .password-description .btn:hover {
  color: var(--strong-password-bg-color);
  background-color: var(--password-strength-bg-color);
}
.container .password-description .strength-checker {
  width: 100%;
  height: 7vh;
  padding: 0.8rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--password-strength-bg-color);
  margin-bottom: 1.25rem;
}
.container .password-description .strength-checker .reps {
  width: 80px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.container .password-description .strength-checker .reps span {
  width: 15px;
  height: 100%;
  border: 1px solid var(--font-color);
}/*# sourceMappingURL=style.css.map */